<section class="hero">
	<div class="hero-body">
		<div class="container">
			<h2 class="title">
				AIMe committee
			</h2>

			<p class="notification is-info">
				AIMe is a community effort to improve reproducibility and increase comparability of AI methods in biomedical
				research. To keep the questionnaire updated and align it with current challenges and common shortcomings,
				a steering committee has been put in place, currently consisting of &lt;COMMITTEE_MEMBER_COUNT&gt; members from all over the world.
			</p>
		</div>
	</div>
</section>
