<section class="section">
  <div class="container">
    <h1 class="title is-4">
      About AIMe
    </h1>
    <div class="content">
      <p>
        AI in medicine and bioinformatics, without any doubt, offers great opportunities and will become even more
        important in the future.
        At the same time, it is crucial to maintain a high level of thoroughness when applying these techniques.
      </p>
      <p>
        By introducing the AIMe standard, we want to contribute to the efforts for correct, robust and reproducible AIs
        in biomedicine.
      </p>
      <p>
        AIMe has been developed and is being maintained by the
        <a href="https://baumbachlab.net">Chair of Experimental Bioinformatics</a>,
        TUM School of Life Sciences Weihenstephan, Technical University of Munich.
      </p>
      <p>
        For inquiries, please refer to <a href="mailto:info@aime-standard.org">info@aime-standard.org</a>.
      </p>
    </div>
  </div>
</section>
