<section class="section">
  <div class="container">
    <h1 class="title is-4">
      About AIMe
    </h1>
    <div class="content">
      <p>
        New promising AI technologies for biomedical applications are suggested almost every day.
        However, a major hurdle for their application in clinical practice is that practitioners generally do not yet
        trust these technologies.
        One reason for this is that AI decisions are often opaque and difficult to explain.
        The AIMe standard is designed to address this problem by providing authors of new AIs with a means to report
        their AI models in an explicit and transparent fashion.
      </p>
      <p>
        AIMe has been developed and is being maintained by the
        <a href="https://baumbachlab.net">Chair of Experimental Bioinformatics</a> at the
        <a href="https://www.tum.de/en/">Technical University of Munich</a>.
      </p>
<!--      <p>-->
<!--        For inquiries, please refer to <a href="mailto:info@aime-standard.org">info@aime-standard.org</a>.-->
<!--      </p>-->
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title is-5">
      Citing the AIMe Standard
    </h2>
    <div class="content">
      <p>
        If you use AIMe to report an AI that is published in a scientific journal or conference, please cite the
        following paper:
      </p>
      <pre>@article&#123;aime,
  title=&#123;AIMe minimal information standard on artificial intelligence in biomedicine&#125;,
  author=&#123;...&#125;,
  year=&#123;2020&#125;,
&#125;</pre>
    </div>
  </div>
</section>
