<div class="modal is-active" *ngIf="reportCited">
  <div class="modal-background" (click)="reportCited = null"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Cite AIMe Report {{reportCited.id}}</p>
      <button class="delete" aria-label="close" (click)="reportCited = null"></button>
    </header>
    <section class="modal-card-body">
      <h2 class="is-4">BibTeX</h2>
      <app-cite-report [id]="reportCited.id" [questionnaire]="reportCited.questionnaire"></app-cite-report>
      <br>
      <p>
        <a routerLink="/about">More information about how to cite the AIMe standard.</a>
      </p>
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="reportCited = null">Close</button>
    </footer>
  </div>
</div>

<section class="section">
  <div class="container">
    <h2 class="title is-4">Search the AIMe database</h2>

    <div class="field">
      <div class="control has-icons-left is-expanded">
        <input class="input" type="text" placeholder="Find a report by keywords or id" [ngModel]="query.getValue()" (ngModelChange)="query.next($event)">
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>

    <div class="field search-toolbox">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox" [(ngModel)]="searchMetadata" (ngModelChange)="search()" />
          Metadata
        </label>
        <label class="checkbox">
          <input type="checkbox" [(ngModel)]="searchPurpose" (ngModelChange)="search()" />
          Purpose
        </label>
        <label class="checkbox">
          <input type="checkbox" [(ngModel)]="searchData" (ngModelChange)="search()" />
          Data
        </label>
        <label class="checkbox">
          <input type="checkbox" [(ngModel)]="searchMethod" (ngModelChange)="search()" />
          Method
        </label>
        <label class="checkbox">
          <input type="checkbox" [(ngModel)]="searchReproducibility" (ngModelChange)="search()" />
          Reproducibility
        </label>
      </div>
    </div>

    <div *ngIf="resultsCount === 0">
      <div *ngIf="!lastQuery">
        <i>No database entries yet</i>
      </div>
      <div *ngIf="lastQuery">
        <i>No results found for '{{lastQuery}}'</i>
      </div>
    </div>
    <div *ngIf="resultsCount === 1">
      <div *ngIf="!lastQuery">
        <i>1 database entry in total</i>
      </div>
      <div *ngIf="lastQuery">
        <i>Found 1 result matching '{{lastQuery}}'</i>
      </div>
    </div>
    <div *ngIf="resultsCount > 1">
      <div *ngIf="!lastQuery">
        <i>{{resultsCount}} database entries in total</i>
      </div>
      <div *ngIf="lastQuery">
        <i>Found {{resultsCount}} results matching '{{lastQuery}}'</i>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div *ngIf="resultsCount > 0">
      <table class="table is-striped is-fullwidth">
        <thead>
        <tr>
          <th class="is-hidden-mobile">ID</th>
          <th>Title & Description</th>
          <th class="w250 is-hidden-mobile">Revisions (last modified)</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let result of results">
          <td class="is-hidden-mobile">{{result.id}}</td>
          <td>
            <strong>{{result.questionnaire.title}}</strong>
            <p class="content" *ngIf="expanded[result.id]">
              {{result.questionnaire.description}}
            </p>
            <p class="content" *ngIf="!expanded[result.id]">
              <button class="button is-small" (click)="expanded[result.id] = true">
                <span class="icon">
                  <i class="fa fa-expand-arrows"></i>
                </span>
                <span>
                Show description
                </span>
              </button>
            </p>
          </td>
          <td class="is-hidden-mobile">
            {{result.versions.length}} ({{result.date | date: 'medium'}})
          </td>
          <td>
            <div class="buttons">
              <a class="button is-small is-info" href="/report/{{result.id}}.pdf">
                <span class="icon">
                  <i class="fa fa-folder-open"></i>
                </span>
                <span>
                  Open
                </span>
              </a>
              <button class="button is-small is-success" (click)="reportCited = result">
                <span class="icon">
                  <i class="fa fa-link"></i>
                </span>
                <span>
                  Cite
                </span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <nav class="pagination" role="navigation" aria-label="pagination">
      <button class="pagination-previous" [disabled]="currentPage <= 0" (click)="setPage(currentPage - 1)">Previous</button>
      <button class="pagination-next" [disabled]="currentPage >= pages.length - 1" (click)="setPage(currentPage + 1)">Next page</button>
      <ul class="pagination-list">
        <li *ngFor="let page of pages">
          <a class="pagination-link" [ngClass]="{'is-current': currentPage === page}" aria-current="page" (click)="setPage(page)">{{page + 1}}</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
