<section class="section">
  <div class="container">
		<div class="step-content card is-active scores">
			<header class="card-header">
				<div class="card-header-title">
					<h2 class="title is-4">
						AIMe specification
					</h2>
				</div>
				<a class="card-header-icon" (click)="showSpec = !showSpec">
              <span class="icon">
                <i class="fas fa-angle-down" *ngIf="showSpec"></i>
                <i class="fas fa-angle-left" *ngIf="!showSpec"></i>
              </span>
				</a>
			</header>
			<div class="card-content" *ngIf="showSpec">
				<textarea [(ngModel)]="jsonSpec">

				</textarea>
			</div>
		</div>
    <div class="step-content card is-active scores">
      <header class="card-header">
        <div class="card-header-title">
          <h2 class="title is-4">
            Your AIMe report
          </h2>
        </div>
        <a class="card-header-icon" (click)="showScores = !showScores">
              <span class="icon">
                <i class="fas fa-angle-down" *ngIf="showScores"></i>
                <i class="fas fa-angle-left" *ngIf="!showScores"></i>
              </span>
        </a>
      </header>
      <div class="card-content" *ngIf="showScores">
        <div class="progress--circle progress--{{this.reproducibilityScore}}">
          <div class="progress__number">{{this.reproducibilityScore / 10}}</div>
          <div class="score-title">Reproducibility</div>
        </div>

        <div class="progress--circle progress--{{this.validationScore}}">
          <div class="progress__number">{{this.validationScore / 10}}</div>
          <div class="score-title">Validation</div>
        </div>
      </div>
    </div>
    <div class="steps is-aime" *ngIf="!submitted">
      <div *ngFor="let s of steps" class="step-item is-active is-hidden-mobile" [ngClass]="{'is-selected': step === s.step}" (click)="goToStep(s.step)">
        <div class="step-marker"><i class="fad {{s.icon}}"></i></div>
        <div class="step-details">
          <p class="step-title">{{s.title}}</p>
        </div>
      </div>
      <div class="step-item is-active is-hidden-mobile" [ngClass]="{'is-selected': step === 6}" (click)="goToStep(6)">
        <div class="step-marker"><i class="fad fa-check"></i></div>
        <div class="step-details">
          <p class="step-title">Review & submit</p>
        </div>
      </div>
      <div class="is-hidden-tablet mobile-nav">
        <h1 class="title is-4">
          Questionnaire
        </h1>
        <div class="field has-addons">
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select name="clinical" [ngModel]="step" (ngModelChange)="goToStep($event)">
                <option [value]="s.step" *ngFor="let s of steps">{{s.title}}</option>
                <option [value]="6">Review & Submit</option>
              </select>
            </div>
            <p class="help">
              Questionnaire step.
            </p>
          </div>
        </div>
      </div>

      <div class="steps-content">
        <div *ngFor="let s of steps" class="step-content card" [ngClass]="{'is-active': step === s.step}">
          <header class="card-header">
            <div class="card-header-title">
              <h2 class="title is-4">
                Metadata
              </h2>
            </div>
          </header>
          <div class="card-content">
            <app-qu-field [idPrefix]="''" [id]="s.short" [question]="getSection(s.short)" [(value)]="answers[s.short]" (valueChange)="calcScores()" [validationTrigger]="validationTrigger">
            </app-qu-field>
          </div>
        </div>
        <div class="step-content card" [ngClass]="{'is-active': step === 6}">
          <header class="card-header">
            <div class="card-header-title">
              <h2 class="title is-4">
                Review & submit
              </h2>
            </div>
          </header>
          <div class="card-content" *ngIf="validationErrors.length > 0">
            <p>
              The preview report cannot be generated because some of the answers are incorrect or missing:
            </p>
            <br>
            <ul class="incorrect">
              <li *ngFor="let field of validationErrors" (click)="goToField(field.id)">
								<strong>{{field.id}}</strong> - {{field.msg}}
							</li>
            </ul>
          </div>
          <div class="card-content" *ngIf="validationErrors.length === 0">
            <p>
              Below, you can find a preview report.
              Review all answers carefully.
              You can still edit your report later on, but it will create another revision.
            </p>
            <p>
              If you want to correct something, either use the <span class="tag">Previous</span> button below,
              or click on the according step above.
            </p>
            <p *ngIf="!revising">
              If you are done, click the <span class="tag is-info">Submit</span> button below to generate a
              finalized and referenceable report.
            </p>
            <p *ngIf="revising">
              If you are done, click the <span class="tag is-info">Create Revision</span> button below to update
              your report and create a new revision.
            </p>
            <br>
            <br>
            <div *ngIf="!revising">
              <br>
              <div class="field">
                <div class="control">
                  <input type="email" class="input is-danger" name="email" placeholder="Your email address" [(ngModel)]="email" (focus)="emailChanged = true">
                </div>
                <p class="help has-text-left">
                  Enter an email address to receive the report and admin link.
                  Make sure that it is a valid address that you have access to, otherwise you will not be able to create revisions later on.
                </p>
              </div>
              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" class="checkbox" name="attachReport" [(ngModel)]="attachReport">
                    Attach report to email
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="steps-actions is-active">
        <div class="steps-action">
          <button data-nav="previous" class="button is-normal" (click)="goToStep(step - 1)" *ngIf="step > 1">
            <span class="icon">
              <i class="fa fa-arrow-left"></i>
            </span>
            <span>Previous</span>
          </button>
        </div>
        <div class="steps-action">
          <button data-nav="next" class="button is-success" (click)="goToStep(step + 1)" *ngIf="step < 6">
            <span>Next</span>
            <span class="icon">
              <i class="fa fa-arrow-right"></i>
            </span>
          </button>
          <button data-nav="next" class="button is-info" (click)="submitQuestionnaire()" *ngIf="step == 6" [disabled]="(!email && !revising) || validationErrors.length > 0">
            <span class="icon">
              <i class="fa fa-paper-plane"></i>
            </span>
            <span *ngIf="!revising">Submit</span>
            <span *ngIf="revising">Create Revision</span>
          </button>
        </div>
      </div>

    </div>

    <div class="container" *ngIf="submitted">
      <div class="notification is-info" *ngIf="!password || !id">
        <span class="icon has-text-white">
          <i class="fa fa-spinner fa-spin"></i>
        </span>
        Your report is being created...
      </div>

      <article class="message" *ngIf="password && id">
        <header class="message-header">
          <p>
            Your AIMe report
          </p>
        </header>
        <div class="message-body" *ngIf="!revising">
          <p>
            Your report <code>{{'urlDisplay' | env}}report/{{id}}.pdf</code> has been generated.
          </p>
          <br>
          <p>
            View your report here:<br>
            <a target="_blank" href="{{'url' | env}}report/{{id}}.pdf">{{'urlDisplay' | env}}report/{{id}}.pdf</a>
          </p>
          <br>
          <p>
            Edit your report here:<br>
            <a target="_blank" href="{{'url' | env}}questionnaire?id={{id}}&p={{password}}">{{'urlDisplay' | env}}questionnaire?id={{id}}&p={{password}}</a>
          </p>
          <br>
          <p>
            To cite your report, you can use the following BibTeX code:
          </p>
          <app-cite-report [id]="id"></app-cite-report>
          <br>
          <p>
            These instructions have also been sent to {{email}}.
          </p>
          <br>
          <p>
            Thank you for using the AIMe registry.
          </p>
        </div>
        <div class="message-body" *ngIf="revising">
          <p>
            Your report <code>{{'urlDisplay' | env}}report/{{id}}.pdf</code> has been generated.
          </p>
          <br>
          <p>
            View your report here:<br>
            <a target="_blank" href="{{'url' | env}}report/{{id}}.pdf">{{'urlDisplay' | env}}report/{{id}}.pdf</a>
          </p>
          <br>
          <p>
            Edit your report here:<br>
            <a target="_blank" href="{{'url' | env}}questionnaire?id={{id}}&p={{password}}">{{'urlDisplay' | env}}questionnaire?id={{id}}&p={{password}}</a>
          </p>
          <br>
          <p>
            To cite your report, you can use the following BibTeX code:
          </p>
          <pre>@misc{{'{aimeReport' + id}},
  title={{'{AIMe Report' + id + '}'}},
  author={{'{' + 'abc' + '}'}},
  howpublished={{'{\\url{https://aime-registry.org/report/' + id + '.pdf}' + '}'}},
  year={{'{2020}'}},
{{'}'}}</pre>
          <br>
          <p>
            Thank you for using the AIMe registry.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>

<pre>
  {{answers | json}}
</pre>
