<section class="section">
  <div class="container">
    <div class="steps" *ngIf="!submitted">

      <div class="step-item" [ngClass]="{'is-active': stepComplete(1)}" (click)="goToStep(1)">
        <div class="step-marker">1</div>
        <div class="step-details">
          <p class="step-title" [ngClass]="{'is-selected': step === 1}">Metadata</p>
        </div>
      </div>
      <div class="step-item" [ngClass]="{'is-active': stepComplete(2)}" (click)="goToStep(2)">
        <div class="step-marker">2</div>
        <div class="step-details">
          <p class="step-title" [ngClass]="{'is-selected': step === 2}">Purpose</p>
        </div>
      </div>
      <div class="step-item" [ngClass]="{'is-active': stepComplete(3)}" (click)="goToStep(3)">
        <div class="step-marker">3</div>
        <div class="step-details">
          <p class="step-title" [ngClass]="{'is-selected': step === 3}">Data</p>
        </div>
      </div>
      <div class="step-item" [ngClass]="{'is-active': stepComplete(4)}" (click)="goToStep(4)">
        <div class="step-marker">4</div>
        <div class="step-details">
          <p class="step-title" [ngClass]="{'is-selected': step === 4}">Method</p>
        </div>
      </div>
      <div class="step-item" [ngClass]="{'is-active': stepComplete(5)}" (click)="goToStep(5)">
        <div class="step-marker">5</div>
        <div class="step-details">
          <p class="step-title" [ngClass]="{'is-selected': step === 5}">Reproducibility</p>
        </div>
      </div>
      <div class="step-item" [ngClass]="{'is-active': stepComplete(6)}" (click)="goToStep(6)">
        <div class="step-marker">6</div>
        <div class="step-details">
          <p class="step-title" [ngClass]="{'is-selected': step === 6}">Review & Submit</p>
        </div>
      </div>

      <div class="steps-content">

        <div class="step-content card" [ngClass]="{'is-active': step === 1}">
          <header class="card-header">
            <div class="card-header-title">
              <h2 class="title is-4">
                Metadata
              </h2>
            </div>
          </header>
          <div class="card-content">

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">MD.1</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" name="title" type="text" placeholder="Title" [(ngModel)]="questionnaire.title">
                  </div>
                  <p class="help has-text-left">Title of the AI</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">MD.2</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea class="input" name="description" placeholder="Description"
                              [(ngModel)]="questionnaire.description"></textarea>
                  </div>
                  <p class="help has-text-left">Short description of the AI</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">MD.3</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" name="author" placeholder="Corresponding author"
                              [(ngModel)]="questionnaire.author">
                  </div>
                  <p class="help has-text-left">Corresponding author of the AI (name, institutional address, email, ORCID)</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">MD.4</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea class="input" name="url" placeholder="Paper URL"
                              [(ngModel)]="questionnaire.url"></textarea>
                  </div>
                  <p class="help has-text-left">Stable URL to a paper where the AI is described (optional)</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">MD.5</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input type="checkbox" name="public" [(ngModel)]="questionnaire.public">
                      Make public and include in database
                    </label>
                  </div>
                  <p class="help has-text-left">Specification of whether the AIMe database entry should be public or private</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="step-content card" [ngClass]="{'is-active': step === 2}">
          <header class="card-header">
            <div class="card-header-title">
              <h2 class="title is-4">
                Purpose
              </h2>
            </div>
          </header>
          <div class="card-content">

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">P.1</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" name="purpose" type="text" placeholder="Purpose" [(ngModel)]="questionnaire.purpose">
                  </div>
                  <p class="help has-text-left">What is your AI designed to learn or predict?</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">P.2</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" name="surrogate" type="text" placeholder="Surrogate marker" [(ngModel)]="questionnaire.surrogate">
                  </div>
                  <p class="help has-text-left">Does your AI predict a surrogate marker? If so, what does it represent?</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">P.3</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" name="category" type="text" placeholder="Category" [(ngModel)]="questionnaire.category">
                  </div>
                  <p class="help has-text-left">To which category does your AI problem belong?</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="step-content card" [ngClass]="{'is-active': step === 3}">
          <header class="card-header">
            <div class="card-header-title">
              <h2 class="title is-4">
                Data
              </h2>
            </div>
          </header>
          <div class="card-content has-text-centered">
            <div *ngFor="let dataset of questionnaire.datasets; let i = index;" class="dataset">
              <h2 class="title is-4">Dataset #{{i + 1}}</h2>
              <div class="has-text-right">
                <button class="button is-danger is-small" (click)="removeDataset(i)">
                  Remove
                </button>
              </div>
              <br>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">D{{i + 1}}.1</label>
                </div>
                <div class="field-body has-text-left">
                  <div class="field">
                    <div class="select">
                      <select name="clinical" [(ngModel)]="dataset.clinical">
                        <option [value]="'clinical'">clinical</option>
                        <option [value]="'omics'">omics</option>
                      </select>
                    </div>
                    <p class="help has-text-left">Does this dataset contain clinical data or omics data?</p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">D{{i + 1}}.2</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input class="input" name="type" type="text" placeholder="Type of data" [(ngModel)]="dataset.type">
                    </div>
                    <p class="help has-text-left">What is the type of the data?</p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">D{{i + 1}}.3</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input class="input" name="synthetic" type="text" placeholder="Real or synthetic?" [(ngModel)]="dataset.synthetic">
                    </div>
                    <p class="help has-text-left">Is the data real or simulated? If it is simulated, is the simulator publicly available and, if so, where?</p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">D{{i + 1}}.4</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input class="input" name="availability" placeholder="Availability" [(ngModel)]="dataset.availability">
                    </div>
                    <p class="help has-text-left">Is the data publicly available? If so, where?</p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">D{{i + 1}}.5</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input type="checkbox" name="training" [(ngModel)]="dataset.training">
                        Used for training
                      </label>
                    </div>
                    <p class="help has-text-left">Is this data used for training?</p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">D{{i + 1}}.6</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input type="checkbox" name="bias" [(ngModel)]="dataset.bias">
                        Subject to biases
                      </label>
                    </div>
                    <p class="help has-text-left">Is the data subject to biases?</p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal" *ngIf="dataset.bias">
                <div class="field-label is-normal">
                  <label class="label">D{{i + 1}}.7</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <textarea class="input" name="biasAddressed" placeholder="How did you address the biases?" [(ngModel)]="dataset.biasAddressed"></textarea>
                    </div>
                    <p class="help has-text-left">Did you address your data biases? If so, how?</p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">D{{i + 1}}.8</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input class="input" name="samples" placeholder="Number of samples" [(ngModel)]="dataset.samples">
                    </div>
                    <p class="help has-text-left">How many samples and features do you have?</p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">D{{i + 1}}.9</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <textarea class="input" name="normalized" placeholder="Normalization" [(ngModel)]="dataset.normalized"></textarea>
                    </div>
                    <p class="help has-text-left">Did you normalize your data? If so, how?</p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">D{{i + 1}}.10</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <textarea class="input" name="preprocessing" placeholder="Preprocessing" [(ngModel)]="dataset.preprocessing"></textarea>
                    </div>
                    <p class="help has-text-left">Did you apply other pre-processing steps to your data? If so, which?</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="add-form">
              <button data-nav="next" class="button is-light" (click)="addDataset()">
                Add another dataset
              </button>
            </div>
          </div>
        </div>

        <div class="step-content card" [ngClass]="{'is-active': step === 4}">
          <header class="card-header">
            <div class="card-header-title">
              <h2 class="title is-4">
                Method
              </h2>
            </div>
          </header>
          <div class="card-content">

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">M.1</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" name="method" type="text" placeholder="AI method" [(ngModel)]="questionnaire.method">
                  </div>
                  <p class="help has-text-left">Which AI method did you use?</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">M.2</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea class="input" name="hyperparameters" type="text" placeholder="Hyperparameters" [(ngModel)]="questionnaire.hyperparameters"></textarea>
                  </div>
                  <p class="help has-text-left">Does your method employ hyper-parameters? If so, which ones and how did you select them?</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">M.3</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea class="input" name="testMetrics" type="text" placeholder="Test metrics" [(ngModel)]="questionnaire.testMetrics"></textarea>
                  </div>
                  <p class="help has-text-left">Which test metrics do you report?</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">M.4</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea class="input" name="overfitting" type="text" placeholder="Overfitting" [(ngModel)]="questionnaire.overfitting"></textarea>
                  </div>
                  <p class="help has-text-left">How do you prevent overfitting?</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">M.5</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea class="input" name="validation" type="text" placeholder="Independent validation" [(ngModel)]="questionnaire.validation"></textarea>
                  </div>
                  <p class="help has-text-left">Did you validate your method on independent data, e.g. from a different cohort?</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">M.6</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea class="input" name="confoundingFactors" type="text" placeholder="Confounding factors" [(ngModel)]="questionnaire.confoundingFactors"></textarea>
                  </div>
                  <p class="help has-text-left">Did you check if your AI model is affected by confounding factors?</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">M.7</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea class="input" name="reproducibility" type="text" placeholder="Confounding factors" [(ngModel)]="questionnaire.reproducibility"></textarea>
                  </div>
                  <p class="help has-text-left">Did you check whether your results are reproducible? If so, how?</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">M.8</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea class="input" name="randomBaseline" type="text" placeholder="Comparison against a random baseline model" [(ngModel)]="questionnaire.randomBaseline"></textarea>
                  </div>
                  <p class="help has-text-left">Did you compare against a random baseline model? If so, how?</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">M.9</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea class="input" name="stateOfTheArt" type="text" placeholder="Comparison against state of the art approaches" [(ngModel)]="questionnaire.stateOfTheArt"></textarea>
                  </div>
                  <p class="help has-text-left">Did you compare against state of the art approaches? If so, against which?</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="step-content card" [ngClass]="{'is-active': step === 5}">
          <header class="card-header">
            <div class="card-header-title">
              <h2 class="title is-4">
                Reproducibility
              </h2>
            </div>
          </header>
          <div class="card-content">

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">R.1</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" name="method" type="text" placeholder="Availability of the tool/model" [(ngModel)]="questionnaire.availability">
                  </div>
                  <p class="help has-text-left">Is your tool or model publicly available? If so, where?</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">R.2</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" name="sourceCode" type="text" placeholder="Availability of the source code" [(ngModel)]="questionnaire.sourceCode">
                  </div>
                  <p class="help has-text-left">Is the source code of your analysis publicly available? If so, where?</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">R.3</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea class="input" name="dependencies" type="text" placeholder="Dependencies" [(ngModel)]="questionnaire.dependencies"></textarea>
                  </div>
                  <p class="help has-text-left">How did you report on your dependencies?</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">R.4</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" name="operatingSystem" type="text" placeholder="Operating system" [(ngModel)]="questionnaire.operatingSystem">
                  </div>
                  <p class="help has-text-left">On which system (OS and hardware specifications) did you run your analysis?</p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">R.5</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea class="input" name="highPerformance" type="text" placeholder="High performance" [(ngModel)]="questionnaire.highPerformance"></textarea>
                  </div>
                  <p class="help has-text-left">Does your analysis require high-performance computing? If so, why?</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="step-content card" [ngClass]="{'is-active': step === 6}">
          <header class="card-header">
            <div class="card-header-title">
              <h2 class="title is-4">
                Review & Submit
              </h2>
            </div>
          </header>
          <div class="card-content">
            <p>
              Below, you can find a preview report.
              Review all answers carefully.
              You can edit everything later on, but it will create another revision.
            </p>
            <p>
              If you want to correct something, either use the <span class="tag">Previous</span> button below,
              or click on the according step above.
            </p>
            <p>
              If you are done, click the <span class="tag is-info">Submit</span> button below to generate a
              finalized and referenceable report.
            </p>
            <br>
            <div class="notification is-success" *ngIf="generatingPreview">
              <span class="icon has-text-white">
                <i class="fa fa-spinner fa-spin"></i>
              </span>
              Generating preview report...
            </div>
            <div *ngIf="previewPdf && !generatingPreview">
              {{previewPdf}}
            </div>
          </div>
        </div>
      </div>

      <div class="steps-actions">
        <div class="steps-action">
          <button data-nav="previous" class="button is-normal" (click)="goToStep(step - 1)" *ngIf="step > 1">Previous</button>
        </div>
        <div class="steps-action">
          <button data-nav="next" class="button is-success" (click)="goToStep(step + 1)" *ngIf="step < 6"
                  [disabled]="!stepComplete(step)">Next
          </button>
          <button data-nav="next" class="button is-info" (click)="submitQuestionnaire()" *ngIf="step == 6"
                  [disabled]="!completeUntil(6)">Submit
          </button>
        </div>
      </div>

    </div>

    <div class="container" *ngIf="submitted">
      <div class="notification is-info" *ngIf="!password || !id">
        <span class="icon has-text-white">
          <i class="fa fa-spinner fa-spin"></i>
        </span>
        Your report is being created...
      </div>

      <article class="message" *ngIf="password && id">
        <header class="message-header">
          <p>
            Your AIMe report
          </p>
        </header>
        <div class="message-body">
          <p>
            Your report <code>{{'urlDisplay' | env}}report/{{id}}.pdf</code> has been generated.
          </p>
          <br>
          <p>
            View your report here:
            <a target="_blank" href="{{'url' | env}}report/{{id}}.pdf">{{'urlDisplay' | env}}report/{{id}}.pdf</a>
          </p>
          <p>
            Edit your report here:
            <a target="_blank" href="{{'url' | env}}questionnaire?id={{id}}&p={{password}}">{{'urlDisplay' | env}}questionnaire?id={{id}}&p={{password}}</a>
          </p>
          <p>
            These links have also been sent to you by email.
          </p>
          <br>
          <p>
            Thank you for using the AIMe Standard.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
