@import 'variables';

.step-item {
  cursor: pointer;
}

.is-selected {
  color: $aime;
}

code {
  color: $aime;
}

.steps-content {
  margin-top: 80px;
  margin-bottom: 50px;
}

.dataset {
  padding-top: 30px;
  padding-bottom: 30px;
}

.add-form {
  padding: 30px;
}

.viewer-wrapper {
  padding: 15px;

  &.loading {
    background-color: #f0f0f0;
  }

  .viewer {
    height: 800px;

    .invisible {
      display: none;
    }
  }
}

textarea {
  height: 72px;
}
