.help {
  margin-bottom: 10px;

  a.is-pulled-right {
    margin-bottom: 10px;
  }

  &.expanded {
    margin-bottom: 3px;

    a {
      margin-bottom: 0;
    }
  }
}

.condfield {
  margin-top: 10px;
}

.more-info {
  margin-bottom: 15px;
}
