<div class="control">
  <ng-content select="[qu-field]"></ng-content>
</div>
<p class="help has-text-left" [ngClass]="{'expanded': expanded}">
  <span>
    {{title}}
  </span>
  <a *ngIf="description" (click)="expanded = !expanded" class="is-pulled-right">
    <span class="tag is-small is-light is-outlined">
      <span class="icon">
        <i class="fa fa-chevron-right" *ngIf="!expanded"></i>
        <i class="fa fa-chevron-down" *ngIf="expanded"></i>
      </span>
      <span>More info</span>
    </span>
  </a>
</p>
<div *ngIf="description && expanded" class="notification more-info">
  <span class="icon">
    <i class="fa fa-info-circle"></i>
  </span>
  <ng-content select="[qu-description]"></ng-content>
</div>
