<div id="wrapper">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="/assets/logo/aime.png" height="28">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain" [ngClass]="{'is-active': navbarToggle}" (click)="navbarToggle = !navbarToggle">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMain" class="navbar-menu" [ngClass]="{'is-active': navbarToggle}">
      <div class="navbar-start">
        <a [routerLink]="['/']" class="navbar-item" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact: true}">
          <span class="icon">
            <i class="fad fa-home" aria-hidden="true"></i>
          </span>
          <span>
            Start
          </span>
        </a>

        <a [routerLink]="['/questionnaire']" class="navbar-item" [routerLinkActive]="['is-active']">
          <span class="icon">
            <i class="fad fa-file-edit"></i>
          </span>
          <span>
            New report
          </span>
        </a>

				<a [routerLink]="['/database']" class="navbar-item" [routerLinkActive]="['is-active']">
          <span class="icon">
            <i class="fad fa-database"></i>
          </span>
					<span>
            Database
          </span>
				</a>

				<a [routerLink]="['/specification']" class="navbar-item" [routerLinkActive]="['is-active']">
          <span class="icon">
            <i class="fad fa-file-certificate"></i>
          </span>
					<span>
            Specification
          </span>
				</a>

				<a [routerLink]="['/committee']" class="navbar-item" [routerLinkActive]="['is-active']">
          <span class="icon">
            <i class="fad fa-users-crown"></i>
          </span>
					<span>
            Committee
          </span>
				</a>
      </div>
			<div class="navbar-end">
				<a [routerLink]="['/about']" class="navbar-item" [routerLinkActive]="['is-active']">
          <span class="icon">
            <i class="fad fa-info-square"></i>
          </span>
					<span>
            About
          </span>
				</a>
			</div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <img src="/assets/logo/aime.png" style="height: 42px">
    </p>
    <p>
      <a href="https://aime-registry.org">aime-registry.org</a>
    </p>
    <p>
      <a [routerLink]="['/about']">
        <span class="is-icon">
          <i class="fa fa-info-square"></i>
        </span>
        <span>
          About
        </span>
      </a>
    </p>
  </div>
</footer>
