<div id="wrapper">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="/assets/logo.png" height="28">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain" [ngClass]="{'is-active': navbarToggle}" (click)="navbarToggle = !navbarToggle">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMain" class="navbar-menu" [ngClass]="{'is-active': navbarToggle}">
      <div class="navbar-start">
        <a routerLink="/" class="navbar-item">
          Start
        </a>

        <a routerLink="/questionnaire" class="navbar-item">
          New report
        </a>

        <a routerLink="/database" class="navbar-item">
          Database
        </a>
      </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <img src="/assets/logo.png" style="height: 42px">
    </p>
    <p>
      <a href="{{'url' | env}}">{{'domainDisplay' | env}}</a>
    </p>
  </div>
</footer>
