<section class="section">
  <div class="container">
    <h2 class="title is-4">Help shape the AIMe registry</h2>
    <p class="mb-3">
      Everyone who is interested in contributing to the AIMe registry is invited to do so.
    </p>
    <p class="mb-3">
      Until June 15, everyone who is interested in the AIMe registry can suggest additional questions and provide
      general feedback on the standard.
    </p>
    <p class="mb-3">
      After that, all suggestions will be put to public vote (unless they are inappropriate, e.g. offensive, spam, ...).
      Everyone who contributes a suggestion is offered co-authorship on the
      <a href="/assets/AIMe_draft.pdf">AIMe paper</a>.
    </p>
    <p class="mb-3">
      Finally, we will incorporate all suggestions that got voted in into version 1.0 of the AIMe registry.
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="mt-3 steps is-aime">
      <div class="step-item is-active is-hidden-mobile is-selected">
        <div class="step-marker"><i class="fad fa-comments"></i></div>
        <div class="step-details">
          <p class="step-title">
            Collecting questions and feedback
          </p>
          <p>
            until August 31 <span class="tag is-warning">closed</span>
          </p>
        </div>
      </div>
      <div class="step-item is-active is-hidden-mobile">
        <div class="step-marker"><i class="fad fa-ballot-check"></i></div>
        <div class="step-details">
          <p class="step-title">
            Public vote on your suggestions
          </p>
          <p>
            September 15 - September 30
          </p>
        </div>
      </div>
      <div class="step-item is-active is-hidden-mobile">
        <div class="step-marker"><i class="fad fa-file-alt"></i></div>
        <div class="step-details">
          <p class="step-title">
            First AIMe version
          </p>
          <p>
            October 15
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

