<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        The <strong class="acro">AIMe</strong>
        minimal information standard on
        <strong class="acro">a</strong>rtificial
        <strong class="acro">i</strong>ntelligence in
        bio<strong class="acro">me</strong>dicine
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title is-4">
      Why use AIMe?
    </h1>
    <div class="content">
      <ul>
        <li>Check if you have covered all important aspects of your AI.</li>
        <li>Save time when providing basic information about your AI.</li>
        <li>Save space by referencing AI reports in your paper.</li>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title is-4">
      How it works
    </h1>
    <div class="content">
      <ol>
        <li>Fill in the questionnaire to provide information about your AI in a structured way.</li>
        <li>Decide if the report should be publicly available in the AIMe database.</li>
        <li>A report file will be created that you can download or reference via the URL <code>{{'urlDisplay' | env}}report/[report-id].pdf</code>.</li>
        <li>You receive an admin link which you can use to later add revisions to the report (version history is available).</li>
      </ol>
    </div>
    <div class="content has-text-centered">
      <a routerLink="/questionnaire" class="button is-medium is-success is-rounded">
        <span class="icon">
          <i class="fa fa-plus-circle"></i>
        </span>
        <span>Create Report</span>
      </a>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title is-4">
      AIMe Database
    </h1>
    <div class="content">
      You can search the AIMe database to look for AI reports that might interest you.
      Save time and spot the relevant information faster than by browsing papers for it.
    </div>
    <div class="content has-text-centered">
      <a routerLink="/database" class="button is-medium is-info is-rounded">
        <span class="icon">
          <i class="fa fa-search"></i>
        </span>
        <span>Search Database</span>
      </a>
    </div>
  </div>
</section>
