<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        Minimal information standard on
        <strong class="acro">A</strong>rtificial
        <strong class="acro">I</strong>ntelligence in
        bio<strong class="acro">Me</strong>dicine.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title is-4">
      Why use AIMe?
    </h1>
    <div class="content">
      <ul>
        <li>Check if you have covered all important aspects of your AI</li>
        <li>Save time when providing standard information about your AI</li>
        <li>Save space by referencing AI reports in your paper</li>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title is-4">
      How it works
    </h1>
    <div class="content">
      <ol>
        <li>Fill out the questionnaire and provide information about your AI in a structured way</li>
        <li>Decide if the report should be available in the database (thus publicly available)</li>
        <li>A report file will be created that you can download or reference via URL (<code>{{'urlDisplay' | env}}report/[report-id].pdf</code>)</li>
        <li>You receive a password which you can use to add revisions to the report later (version history is available)</li>
      </ol>
    </div>
    <div class="content has-text-centered">
      <a routerLink="/questionnaire" class="button is-medium is-success is-rounded">
        Create Report
      </a>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title is-4">
      AIMe Database
    </h1>
    <div class="content">
      You can search our database to look for AI reports that might interest you.
      Save time and spot the relevant information faster then browsing papers for it.
    </div>
    <div class="content">
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" placeholder="Search reports">
        </div>
        <div class="control">
          <a class="button is-info">
            Search
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
