<section class="section">
	<div class="container">
		<h2 class="title is-4">
			Legal notice
		</h2>
		<div class="content">
			<p>
				Prof. Dr. Jan Baumbach<br>
				Chair of Computational Systems Biology
			</p>
			<p>
				<i class="fal fa-phone"></i> +49 40 42838 7640<br>
<!--				<i class="fal fa-fax"></i> +49 8161 71 2186<br>-->
				<i class="fal fa-envelope"></i> cosyb@zbh.uni-hamburg.de
			</p>
			<p>
				University of Hamburg<br>
				Notkestraße 9<br>
				22607 Hamburg<br>
				Germany
			</p>
			<p>
				For inquiries, please refer to <a href="mailto:info@aime-registry.org">info@aime-registry.org</a>.
			</p>
		</div>
	</div>
</section>
